.weditor-hotkeys-dialog{
    width: 500px;
    height: 330px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px 20px;
    margin: 30px 60px !important;
    .nx-dialog-content{
        margin: 5px;
        margin-top: 40px;
    }
    .weditor-hotkeys-inner{
        overflow: auto;
        height: 270px;
        width: 100%;
        .apps-shortcutshelppopup-content{
            border-collapse: collapse;
            width: 100%;
            outline-offset: -1px;
            outline: none;
            .apps-shortcutshelppopup-shortcut-desc{
                color: #757575;
            }
            .apps-shortcutshelppopup-content-element{
                text-align: left;
                vertical-align: middle;
                padding-top: 0.15em;
                border-bottom: 1px solid #ececec;
                height: 32px;
                white-space: nowrap;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            .apps-shortcutshelppopup-shortcut-key{
                font-weight: bold;
                color: #212121;
            }
        }

    }
}
