{
  'presets': [
    [
      'es2015',
      {
        'modules': false
      }
    ],
    'stage-0',
    'react'
  ],
  'env': {},
  'ignore': [
    'node_modules/**',
    'dist'
  ],
  'plugins': [
    'transform-decorators-legacy'
  ]
}
