@import "../../style/variables";
.xm-header{
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 26px;
  padding: 0 6px;
  border-radius: 2px;
  font-size: 0px;
  &:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    font-size: 0;
  }
  .docicon{
    display: inline-block;
    position: relative;
    top: -13px;
  }
  .xm-header-span{
    display: inline-block;
    width: 50px;
    background: transparent;
    border: 1px solid transparent;
    color: #333;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding: 0;
    border-radius: 1px;
    outline: none;
    cursor: pointer;
    text-align: left;
    position: relative;
    top: -2px;
  }
  input:focus{
    background: #fff;
  }
  .xm-size-h{
    display: block;
    position: absolute;
    top: 30px;
    left: -20px;
    padding: 10px 0px;
    background: #ffffff;
    font-size: 16px;
    width: 150px;
    height: 300px;
    overflow-y: auto;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.24);
    //box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 101;
    p{
      padding-left: 15px;
      //line-height: 25px;
      &:hover{
        background: $hover-color;
        cursor: pointer;
      }
    }
    .o-p-h{
      padding: 10px 0px 10px 15px ;
      min-height: 25px;
      margin: 0;
      line-height:20px;
      &:hover{
        background: $hover-color;
        cursor: pointer;
      }
    }
    h1{
      font-size: 25px;
    }
    h2{
      font-size: 22px;
    }
    h3{
      font-size: 20px;
    }
    h4{
      font-size: 16px;
    }

  }
}
