@import "../../style/variables";
.xm-size {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 26px;
    border-radius: 2px;
    font-size: 0px;
    padding: 0 6px;
    &:before{
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
        font-size: 0;
    }
    .docicon{
        display: inline-block;
        position: relative;
        top: -13px;
    }
    .xm-size-span{
        display: inline-block;
        width: 28px;
        background: transparent;
        border: 1px solid transparent;
        color: #333333;
        font-family: Arial,sans-serif;
        font-size: 12px;
        height: 20px;
        line-height: 20px;
        overflow: hidden;
        padding: 0;
        border-radius: 1px;
        outline: none;
        cursor: pointer;
        text-align: left;
        position: relative;
        top: -2px;
    }
    .xm-size-input {
        display: inline-block;
        width: 48px;
        background: transparent;
        border: 1px solid transparent;
        color: #333;
        font-family: Arial, sans-serif;
        font-size: 12px;
        font-weight: bold;
        height: 20px;
        line-height: 20px;
        overflow: hidden;
        padding: 1px 8px;
        border-radius: 1px;
        outline: none;
    }
    input:focus {
        background: #fff;
    }
    .xm-size-p {
        display: block;
        position: absolute;
        top: 30px;
        left: -10px;
        padding: 10px 0px;
        background: #ffffff;
        font-size: 14px;
        width: 80px;
        height: 400px;
        overflow-y: auto;
        border-radius: 4px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.24);
        z-index: 100;
        p {
            margin: 5px 0;
            padding-left: 15px;
            line-height: 22px;
            &:hover {
                background: $hover-color;
                cursor: pointer;
            }
        }
    }
}
