.weditor-other-selection{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -999990;
    left: 0;
    z-index: 24;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .w-o-b{
        position: absolute;
        border-left: 2px solid rgb(43, 87, 154);
        font-size: 0;
    }
    .weditor-other-selection-name{
        z-index: 100;
        margin: 0;
        position: relative;
        top: -20px;
        left: -50%;
        padding: 2px 8px;
        font-size: 10px;
        white-space: nowrap;
        max-width: 60px;
        background: rgb(43, 87, 154);
        opacity: 0.79;
        color: #ffffff;
    }
}
