.weditor-other-selection{
    background: rgb(43, 87, 154);
    opacity: 0.79;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -999990;
    left: 0;
    .weditor-other-selection-name{
        margin: 0;
        position: relative;
        top: -20px;
        left: -50%;
        padding: 2px 8px;
        font-size: 10px;
        white-space: nowrap;
        max-width: 40px;
        background: rgb(43, 87, 154);
        opacity: 0.79;
        color: #ffffff;
    }
}
