@import "./variables";

.weditor-header {
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ddd;
    position: relative;
    z-index: 110;
    user-select: none;
    background: #FFFFFF;
    box-shadow: 0 1px 0 0 #DDDDDD;
    box-sizing: border-box;
    height: 69px;
    button {
        outline: none;
    }
    .menu-bar {
        height: 35px;
        line-height: 35px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding-left: 10px;
        span {
            padding: 0 10px;
            user-select: none;
            font-size: 14px;
            cursor: pointer;
            color: #333333;
        }
        span.active {
            color: #2374d1;
            background: rgb(246, 246, 246);
        }
    }

    .header-left-box {
        line-height: 35px;
        height: 35px;
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 20px;
        .header-back-up {
            float: left;
            width: 40px;
            height: 60px;
            cursor: pointer;
            background-color: #4285f4;
            .header-back-icon {
                display: block;
                background: url(//mss.sankuai.com/v1/mss_814dc1610cda4b2e8febd6ea2c809db5/image/1489546222140.svg) center no-repeat;
                height: 60px;
                position: absolute;
                width: 40px;
                -webkit-transition: all 125ms linear;
                -moz-transition: all 125ms linear;
                -o-transition: all 125ms linear;
                transition: all 125ms linear;
            }
        }
        .team-sprite {
            background-image: url(https://assets-cdn.shimo.im/assets/images/teams-31aea6334f.png);
            background-size: 499px 310px;
            background-repeat: no-repeat;
        }
        .s-header-text {
            display: inline-block;
            height: 35px;
            line-height: 35px;
            vertical-align: top;
            .title-input-pre {
                font-size: 14px;
                font-family: -apple-system, system-ui, "PingFang SC", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", "\\5FAE软雅黑", SimSun, "\\5B8B体", Heiti, "\\9ED1体", sans-serif;
                font-weight: bold;
                font-style: normal;
                letter-spacing: normal;
            }
        }
    }

    .header-right-box {
        position: relative;
        height: 69px;
        float: right;
        line-height: 69px;
        .header-item-wrap {
            display: inline-block;
            height: 40px;
            width: 40px;
            .header-item-inner {
                border: 1px solid #eee;
                height: 35px;
                width: 35px;
                border-radius: 50%;
                text-align: center;
                display: inline-block;
                position: relative;
                line-height: 0px;
                &:before {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    width: 0;
                    height: 100%;
                    font-size: 0;
                }
                img {
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                    vertical-align: middle;
                }
            }
        }
    }

    .opver-icon {
        background-image: url(https://s3.meituan.net/v1/mss_814dc1610cda4b2e8febd6ea2c809db5/image/1489914204976.png);
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        display: inline-block;
    }
    .opver-area {
        span {
            vertical-align: middle;
            font-size: 12px;
        }
        &:hover {
            border: 1px solid #b6b6b6;

        }
    }
}
