@import "./variables";

@font-face {
    font-family: '#{$iconfont-css-prefix}';
    src: url('#{$icon-url}.eot');
    src: url('#{$icon-url}.eot?#iefix') format('embedded-opentype'),
    url('#{$icon-url}.woff') format('woff'),
    url('#{$icon-url}.ttf') format('truetype'),
    url('#{$icon-url}.svg#dxicon') format('svg');
}

@mixin iconfont-mixin {
    display: inline-block;
    font-style: normal;
    vertical-align: middle;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    font-size: 14px;

    &:before {
        display: block;
        font-family: "docicon" !important;
    }
}

.#{$iconfont-css-prefix} {
    @include iconfont-mixin;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.#{$iconfont-css-prefix}-undo:before {
    content: "\e697";
}

.#{$iconfont-css-prefix}-redo:before {
    content: "\e688";
}

.#{$iconfont-css-prefix}-ol:before {
    content: "\e68f";
}

.#{$iconfont-css-prefix}-ul:before {
    content: "\e691";
}

.#{$iconfont-css-prefix}-right-indent:before {
    content: "\e690";
}

.#{$iconfont-css-prefix}-left-indent:before {
    content: "\e698";
}

.#{$iconfont-css-prefix}-right-align:before {
    content: "\e68d";
}

.#{$iconfont-css-prefix}-left-align:before {
    content: "\e68b";
}

.#{$iconfont-css-prefix}-center-align:before {
    content: "\e693";
}

.#{$iconfont-css-prefix}-justify-align:before {
    content: "\e696";
}

.#{$iconfont-css-prefix}-strike:before {
    content: "\e692";
}

.#{$iconfont-css-prefix}-underline:before {
    content: "\e68e";
}
.#{$iconfont-css-prefix}-italic:before {
    content: "\e694";
}

.#{$iconfont-css-prefix}-clear:before {
    content: "\e68a";
}

.#{$iconfont-css-prefix}-bold:before {
    content: "\e686";
}
.#{$iconfont-css-prefix}-format:before {
    content: "\e687";
}
.#{$iconfont-css-prefix}-max:before {
    content: "\e60e";
}
.#{$iconfont-css-prefix}-zoom-out:before {
    content: "\e69e";
}
.#{$iconfont-css-prefix}-zoom-in:before {
    content: "\e69a";
}
.#{$iconfont-css-prefix}-close:before {
    content: "\e631";
}
.#{$iconfont-css-prefix}-min:before {
    content: "\e699";
}
.#{$iconfont-css-prefix}-vertical:before {
    content: "\e625";
}
.#{$iconfont-css-prefix}-color:before {
    content: "\e68c";
}
.#{$iconfont-css-prefix}-background:before {
    content: "\e695";
}
.#{$iconfont-css-prefix}-image:before {
    content: "\e674";
}
.#{$iconfont-css-prefix}-link:before {
    content: "\e602";
}
.#{$iconfont-css-prefix}-triangle:before {
    content: "\e689";
}
.#{$iconfont-css-prefix}-comment:before {
    content: "\e75a";
}

