.editor-toolbar {
    .ql-toolbar.ql-snow {
        border: none;
        background-color: rgb(246, 246, 246);
        height: 40px;
        line-height: 35px;
        padding: 0;
        border-bottom: solid 1px rgb(226, 226, 226);
        //padding: 2px;
        .ql-formats {
            margin-right: 0px;
        }
    }
    .docicon-vertical {
        display: inline-block;
        //height: 24px;
        //width: 28px;
        margin: 0 5px;
    }
}
.toolbar-opver {
    padding-left: 30px !important;
    background: #F0F0F0;
    box-shadow: 0 1px 0 0 rgba(221,221,221,0.50);
    line-height: 50px;
    height: 50px;
    button {
        background: none;
        cursor: pointer;
        display: inline-block;
        height: 26px;
        width: 26px;
        padding: 0;
        outline: none;
        margin-right: 10px;
        border: 1px solid #F0F0F0;
        border-radius: 2px;
        &:hover{
            border: 1px solid #CCCCCC;
        }
        &:active{
            background: #DDDDDD;
            border: 1px solid #CCCCCC;
        }
    }
}
