.editor-toolbar {
    .ql-toolbar.ql-snow {
        border: none;
        background-color: rgb(246, 246, 246);
        height: 40px;
        line-height: 35px;
        padding: 0;
        border-bottom: solid 1px rgb(226, 226, 226);
        //padding: 2px;
        .ql-formats {
            margin-right: 0px;
        }
    }
    .ql-toolbar{
        .docicon{
            font-size: 16px;
        }
        .docicon-undo,.docicon-redo{
            position: relative;
            top: -2px;
        }
    }
    .docicon-vertical {
        display: inline-block;
        //height: 24px;
        //width: 28px;
        margin: 0 5px;
        color: #bbbbbb;
    }
    .more-btn{
        width: 51px;
        border: 1px solid transparent;
        &.active{
            background: #DDDDDD;
            border: 1px solid #CCCCCC;
            border-radius: 2px;
        }
    }
    box-shadow: 0 1px 0 0 rgba(221,221,221,0.50);
}

.toolbar-opver {
    padding-left: 15px !important;
    background: #F0F0F0;
    line-height: 50px;
    height: 50px;
    .xm-header, .xm-size{
        border: 1px solid #F0F0F0;
        &:hover{
            border: 1px solid #CCCCCC;
        }
    }
    button {
        background: none;
        cursor: pointer;
        display: inline-block;
        height: 26px;
        width: 26px;
        padding: 0;
        outline: none;
        margin-right: 10px;
        border: 1px solid #F0F0F0;
        border-radius: 2px;
        &:hover{
            border: 1px solid #CCCCCC;
        }
        &.active{
            background: #DDDDDD;
            border: 1px solid #CCCCCC;
        }
    }
}
.more-toolbar-container{
    display: inline;
    .popup-triangle-wrapper{
        display: none;
    }
}

.rc-trigger-popup.popup-opver-wrapper{
    background: #F8F8F8;
    border: 1px solid rgba(0,0,0,0.10);
    box-sizing:border-box ;
    padding-left: 10px;
    .more-toolbar-container button{
        border-color: #F8F8F8;
        &:hover{
            border-color: #CCCCCC;
        }
        &.active{
            border: 1px solid #CCCCCC;
        }
    }
    .more-toolbar-container{
        width: 415px;
        height: 59px;
        display: inline-block;
        .popup-triangle-wrapper{
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 8px 8px 8px;
            border-color: transparent transparent rgba(0,0,0,0.10) transparent;
            position: absolute;
            top: -8px;
            right: 20px;
            display: block;
            .popup-triangle-inner{
                position: absolute;
                right: -7px;
                top: 1px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 7px 7px 7px;
                border-color: transparent transparent #F8F8F8 transparent;
            }
        }
    }
}
